aiohttp==3.9.1
aiosignal==1.3.1
annotated-types==0.6.0
anyio==4.2.0
asn1crypto==1.5.1
attrs==23.2.0
CacheControl==0.14.0
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
cloud-sql-python-connector==1.5.0
colorama==0.4.6
cryptography==41.0.7
Deprecated==1.2.14
distro==1.9.0
fastapi==0.108.0
firebase-admin==6.5.0
frozenlist==1.4.1
future==0.18.3
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gcloud==0.18.3
google-api-core==2.16.1
google-api-python-client==2.116.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-pubsub==2.29.0
google-cloud-secret-manager==2.18.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-gax==0.12.5
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
greenlet==3.0.3
grpc-google-iam-v1==0.13.0
grpc-google-logging-v2==0.8.1
grpc-google-pubsub-v1==0.8.1
grpcio==1.60.1
grpcio-status==1.60.1
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.2
idna==3.6
importlib_metadata==8.6.1
inflection==0.5.1
jiter==0.5.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jwcrypto==1.5.1
msgpack==1.0.7
multidict==6.0.4
numpy==2.2.5
oauth2client==4.1.3
openai==1.46.0
openapi==2.0.0
opencv-python==4.11.0.86
opentelemetry-api==1.32.1
opentelemetry-sdk==1.32.1
opentelemetry-semantic-conventions==0.53b1
pg8000==1.30.4
pillow==11.2.1
ply==3.8
proto-plus==1.23.0
protobuf==4.25.2
psycopg2-binary==2.9.9
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pycryptodome==3.20.0
pydantic==2.5.3
pydantic_core==2.14.6
PyJWT==2.8.0
pyparsing==3.1.1
Pyrebase4==4.7.1
python-dateutil==2.8.2
python-jwt==4.1.0
python-multipart==0.0.9
referencing==0.35.1
requests==2.29.0
requests-toolbelt==0.10.1
rpds-py==0.20.0
rsa==4.9
scramp==1.4.4
six==1.16.0
sniffio==1.3.0
SQLAlchemy==2.0.25
starlette==0.32.0.post1
tqdm==4.66.5
typing_extensions==4.12.2
uritemplate==4.1.1
urllib3==1.26.18
uvicorn==0.25.0
validator==0.7.1
validators==0.34.0
wrapt==1.16.0
yarl==1.9.4
zipp==3.21.0
